<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <h1 class="navbar-brand mx-3 my-0"><%= link_to "Resto App", restaurants_path, class:"text-decoration-none text-secondary" %></h1>
  <%= link_to "Add a Restaurant", new_restaurant_path, class:"nav-link" %>
</nav>
